<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3a4e9">  <td>22/03/30 18:36:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassB.add()[pri:0, instance:TestNGParallelExecution.ClassB@1184ab05]">add</td> 
  <td>TestNG-tests-1@1608297024</td>   <td></td> </tr>
<tr bgcolor="d3a4e9">  <td>22/03/30 18:36:24</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassB.sub()[pri:1, instance:TestNGParallelExecution.ClassB@1184ab05]">sub</td> 
  <td>TestNG-tests-1@1608297024</td>   <td></td> </tr>
<tr bgcolor="a5b572">  <td>22/03/30 18:36:24</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassA.div()[pri:1, instance:TestNGParallelExecution.ClassA@3daa422a]">div</td> 
  <td>TestNG-tests-2@854587510</td>   <td></td> </tr>
<tr bgcolor="a5b572">  <td>22/03/30 18:36:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassA.mul()[pri:0, instance:TestNGParallelExecution.ClassA@3daa422a]">mul</td> 
  <td>TestNG-tests-2@854587510</td>   <td></td> </tr>
</table>
